.my-menu {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.my-menu:hover {
    background: #eee;
    font-weight: bold;
    border-radius: 2px;
    margin: 2px 0px;
}

.my-menu.current {
    background-color: #06695C;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
}

.my-dx {
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.my-dx:hover {
    background-color: #06695C40;
    border-radius: 5px;
}

.option-item {
    padding: 2px;
    background-color: #06695C;
    border-radius: 5px;
}

.image-item:hover {
    background-color: #06695C40;
    border: 1px solid #06695C;
    border-radius: 4px;
    padding: 1px;
    transition: all 0.4s ease-in-out;
}

.image-item.active {
    background-color: #06695C40;
    border: 1px solid #06695C;
    border-radius: 4px;
    padding: 1px;
}

.background-green-40 {
    background-color: #06695C20 !important;
}

.my-table-width {
    width: 1200px;
}

.my-shadow {
    box-shadow: rgb(64 75 90 / 20%) 0px 0px 1px 0px,
        rgb(64 75 90 / 28%) 0px 2px 1px 0px;
}

.ant-segmented-item {
    margin-bottom: 0px !important;
}

body {
    font-size: 14px !important;
}

* {
    margin: 0px;
    padding: 0px;
}

.my-scrollable::-webkit-scrollbar {
    overflow: auto !important;
    width: 5px !important;
}

.my-scrollable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(184, 183, 183, 0.578) !important;
    border-radius: 10px !important;
}

.my-scrollable::-webkit-scrollbar-thumb {
    background: rgba(199, 199, 199, 0.593) !important;
    border-radius: 20px !important;
}

.my-scrollable::-webkit-scrollbar-thumb:hover {
    background: #484848 !important;
}



.text-truncate-two {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
}

.text-truncate-one {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
}

.text-truncate-tree {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
}

.text-truncate-four {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
}